.about {
    padding: 15px 25px 20px 25px;
    margin: 100px 30px 0;
    //
    .icon {
        font-size: 25px;
        margin-right: 25px;
        cursor: pointer;
        color: #ff0581;
        //
        &:hover {
            color: #d10068;
        }
    }
}