.login {
    padding: 70px 25px 80px 25px;
    margin: 40px 30px 0;
    margin-right: 30px;
    @apply shadow-xl;
    //@at-root
    img {
        margin: auto;
        //
    }
    form {
        display: flex;
        flex-direction: column;
        //@at-root
        h1 {
            font-family: "Fira Sans", sans-serif;
            font-size: 20px;
            letter-spacing: 2.72px;
            @apply py-8 capitalize font-bold;
        }
        .inputWrapper {
            margin: 10px 0;
            border: 1px solid rgba(211, 211, 211, 0.5);
            border-radius: 20px;
            .icon {
                color: #ff0581;
                margin-top: 20px;
                margin-left: 10px;
                font-size: 20px;
            }
            .input {
                width: 50%;
                &:focus {
                    outline: none;
                }
            }
        }
        button {
            @apply py-3 capitalize;
            display: flex;
            background-color: #ff0581;
            width: 100px;
            border-radius: 20px;
            justify-content: center;
            color: #fff;
            //
            &:hover {
                background-color: #d10068;
            }
        }
        p {
            @apply py-3 capitalize;
            span {
                color: #ff0581;
                cursor: pointer;
                //@at-root
                &:hover {
                    color: #d10068;
                }
            }
        }
    }
}