.login {
    @apply shadow-xl;
    padding: 150px 25px 20px 25px;
    margin-right: 30px;
    margin: auto;
    //@at-root
    img {
        margin: auto;
    }
    form {
        display: flex;
        flex-direction: column;
        margin-top: -30px;
        //@at-root
        h1 {
            font-family: "Fira Sans", sans-serif;
            font-size: 20px;
            letter-spacing: 2.72px;
            @apply py-8 capitalize font-bold;
        }
        .inputWrapper {
            margin: 10px 0;
            border: 1px solid rgba(211, 211, 211, 0.5);
            border-radius: 20px;
            .icon {
                color: #ff0581;
                margin-top: 20px;
                margin-left: 10px;
                font-size: 20px;
            }
            .input {
                &:focus {
                    outline: none;
                }
            }
        }
        .error {
            color: red;
            margin-bottom: 7px;
        }
        button {
            @apply py-3 capitalize mt-3 mb-3;
            display: flex;
            width: 50%;
            background-color: #ff0581;
            border-radius: 20px;
            justify-content: center;
            color: #fff;
            //
            &:hover {
                background-color: #d10068;
            }
        }
        p {
            @apply py-3 capitalize;
            span {
                color: #ff0581;
                cursor: pointer;
                //@at-root
                &:hover {
                    color: #d10068;
                }
            }
        }
    }
}