.wrapper {
    // padding: 20px;
    margin: 3rem 0;
    display: grid;
    position: relative;
    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.75rem;
        hr {
            display: none;
        }
    }
    .content {
        margin: 1rem 0;
        padding: 2rem;
        &:hover {
            background-color: #fff;
            border-radius: 10px;
        }
        @media screen and (max-width: 1024px) {
            margin-left: 10%;
            &:after {
                content: "";
                display: inline-block;
                width: 0.1rem;
                background: var(--warm-red);
                position: absolute;
                left: 2.5rem;
                top: 5px;
                height: calc(100% - 10px);
            }
        }
    }
}