.posts {
    padding: 0 25px 80px 25px;
    //
    h1 {
        span {
            border-bottom: 2px solid #d10068;
            padding-bottom: 6px;
        }
    }
    .pagination {
        margin-top: 50px;
        button {
            @apply rounded-xl;
            padding: 10px;
            border: 1px solid #ff0581;
        }
        .icon {
            margin-top: 12px;
            font-size: 20px;
        }
    }
}