.post {
    @apply shadow-2xl rounded-lg;
    width: 100%;
    padding: 20px;
    text-align: center;
    //
    h1 {
        font-weight: bold;
    }
    button {
        padding: 10px;
        color: #ff0581;
        //
        &:hover {
            color: #d10068;
        }
    }
}