.post {
    @apply mt-4 max-w-[1240px] shadow-2xl rounded-lg;
    font-family: "Frank Ruhl Libre", sans-serif;
    width: 100%;
    // text-align: center;
    color: #161c1c;
    .img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        object-position: bottom;
    }
    .post-title {
        padding: 20px;
    }
}