.post {
  @apply mt-4 max-w-[1240px] shadow-2xl rounded-lg;
  font-family: "Frank Ruhl Libre", sans-serif;
  width: 100%;
  position: relative;
  color: #161c1c;
  .img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .post-title {
    padding: 10px;
  }
}
