.post {
    .image {
        height: 170px;
        width: 170px;
    }
    // h1 {
    //     font-family: Poppins, sans-serif;
    //     font-weight: bold;
    // }
    .editBtns {
        @apply m-auto;
        .icon {
            margin-top: 10px;
            margin-left: 30px;
            cursor: pointer;
            float: right;
            color: #ff0581;
            &:hover {
                color: #d10068;
            }
        }
    }
}