.header {
    padding: 70px 25px 80px 25px;
    .image {
        // margin-left: 30px;
        border-radius: 50%;
    }
    .socials {
        .icon {
            cursor: pointer;
            height: 40px;
            width: 23px;
        }
    }
}