// .navbar {
//     @apply shadow-sm;
//     position: fixed;
//     top: 0;
//     z-index: 999;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     height: 60px;
//     width: 100%;
//     background-color: #fff;
//     //
//     .mobile-menu-icon {
//         position: absolute;
//         margin-right: 2000px !important;
//     }
//     .logo {
//         text-decoration: none;
//         font-size: 25px;
//         margin-left: 20px;
//         font-weight: bold;
//     }
//     .nav-links {
//         display: flex;
//         justify-content: flex-end;
//         list-style: none;
//         width: 80%;
//         //
//         li {
//             font-size: 16px;
//             padding: 10px 20px;
//             margin: 0 10px;
//             cursor: pointer;
//             text-transform: capitalize;
//             //
//             &:hover {
//                 color: #ff0581;
//             }
//         }
//     }
// }
// /* mobile viewport */
// @media screen and (max-width: 780px) {
//     .mobile-menu-icon {
//         display: block;
//         position: absolute;
//         font-size: 30px;
//         color: #000;
//         border: none;
//         top: 15px;
//         left: 15px;
//         z-index: 500;
//     }
//     .logo {
//         display: flex;
//         position: absolute;
//     }
//     .nav-links {
//         visibility: hidden;
//     }
//     .nav-links-mobile {
//         position: absolute;
//         display: block;
//         list-style: none;
//         background-color: #fff;
//         padding: 40px 0;
//         left: 0;
//         top: 44px;
//         height: 100vh;
//         width: 50%;
//         //
//         li {
//             @apply shadow-sm;
//             padding: 20px 20px;
//             text-transform: capitalize;
//             &:hover {
//                 color: #ff0581;
//             }
//             .link {
//color: #fff;
//                 text-decoration: none;
//             }
//         }
//     }
// }
header {
    width: 100%;
    // background-color: ;
    // color: #fff;
    .header {
        width: 100%;
        height: 8rem;
        max-width: 1000px;
        margin: 0 auto;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    // .logo a h2 {
    //     width: 25%;
    //     // color: #fff;
    //     cursor: pointer;
    //     span {
    //         color: orangered;
    //     }
    // }
    nav {
        width: 75%;
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            .logo-mobile {
                display: none;
            }
            li {
                margin: 0 5px;
                a {
                    // color: #fff;
                    &:hover {
                        color: orangered;
                    }
                }
            }
        }
    }
    .header-right {
        display: flex;
        .cart a {
            display: flex;
            // color: #fff;
            position: relative;
            &:hover {
                color: orangered;
            }
            &.active {
                color: var(--color-danger);
            }
            p {
                position: absolute;
                top: -1rem;
                right: -1rem;
                font-weight: 500;
            }
        }
        span {
            margin: 0 5px;
            p {
                // color: #fff;
            }
        }
        .links a {
            margin: 0 5px;
            color: #fff;
            &:hover {
                color: orangered;
            }
            &.active {
                color: var(--color-danger);
            }
        }
    }
    .menu-icon {
        cursor: pointer;
        visibility: hidden;
    }
    //mobile and Tab viewport
    @media screen and (max-width: 800px) {
        nav {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100vh;
            background-color: var(--dark-blue);
            padding: 1rem;
            z-index: 999;
            transform: translateX(-200%);
            transition: all 0.3s;
            .nav-wrapper {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.5);
                transform: translateX();
                transition: all 0.3s;
            }
            .show-nav-wrapper {
                transform: translateX(100%);
            }
            ul {
                display: block;
                .logo-mobile {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    >* {
                        cursor: pointer;
                    }
                }
                li {
                    padding: 5px 0;
                    border-bottom: 1px solid #333;
                    a {
                        display: block;
                    }
                }
            }
            .header-right {
                display: block;
                .cart {
                    // display: block;
                    // padding: 5px 0;
                    border-bottom: 1px solid #333;
                    // a {
                    //   position: relative;
                    //   p {
                    //     position: absolute;
                    //     top: -1rem;
                    //     left: 5rem;
                    //     font-weight: 500;
                    //   }
                    // }
                }
                .links {
                    display: block;
                    a {
                        display: block;
                        margin: 0;
                        padding: 5px 0;
                        border-bottom: 1px solid #333;
                    }
                }
            }
        }
        .show-nav {
            transform: translateX(0);
        }
        .hide-nav {
            transform: translateX(-200%);
        }
        .menu-icon {
            display: flex;
            visibility: visible !important;
            float: right !important;
        }
    }
}

.active {
    position: relative;
    color: var(--color-danger);
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    // background-color: #fff;
}