.navbar {
    @apply shadow-md;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    //
    .mobile-menu-icon {
        position: absolute;
        margin-right: 2000px !important;
    }
    .logo {
        text-decoration: none;
        font-size: 25px;
        margin-left: 20px;
        font-weight: bold;
    }
    .nav-links {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        width: 80%;
        //
        li {
            font-size: 16px;
            padding: 10px 20px;
            margin: 0 10px;
            cursor: pointer;
            text-transform: capitalize;
            //
            &:hover {
                color: #ff0581;
            }
            .link {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}


/* mobile viewport */

@media screen and (max-width: 780px) {
    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: #000;
        border: none;
        top: 15px;
        left: 15px;
        z-index: 1000;
    }
    .logo {
        display: flex;
        position: absolute;
    }
    .nav-links {
        visibility: hidden;
    }
    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        background-color: #fff;
        padding: 40px 0;
        left: 0;
        top: 44px;
        height: 100vh;
        width: 50%;
        //
        li {
            @apply shadow-sm;
            padding: 20px 20px;
            text-transform: capitalize;
            &:hover {
                color: #ff0581;
            }
            .link {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}