.similarPosts {
  max-width: 90%;
  margin: auto;
  padding-top: 4rem;

  .show-similar-posts {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
