.footer {
    // position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--dark-blue);
    color: #fff;
    font-size: 18px;
    span {
        color: var(--warm-red);
    }
}