.loader {
    position: relative;
    top: 300px;
}

.singlepost {
    @apply shadow-2xl;
    top: 100px;
    padding: 60px 25px 50px 25px;
    margin: 100px 30px 0;
    text-align: justify;
    //
    .description {
        &::first-letter {
            font-size: 1.5rem;
            font-weight: bold;
            color: #ff0581;
            text-transform: uppercase;
        }
    }
    .icon {
        color: #ff0581;
        font-size: 16px;
        //
        &:outline {
            border: none;
        }
        &:hover {
            color: #d10068;
        }
    }
    .input {
        @apply shadow-md;
        padding: 10px;
        border: 2px solid rgba(211, 211, 211, 0.5);
        border-radius: 20px;
        width: 100%;
        color: gray;
        margin: 10px 0;
        //
        &:focus {
            outline: none;
        }
    }
    .edit-btn {
        @apply py-3 capitalize mt-4;
        width: 20%;
        background-color: #ff0581;
        border-radius: 20px;
        color: #fff;
        //
        &:hover {
            background-color: #d10068;
        }
    }
    .icons-LC {
        font-size: 23px;
        cursor: pointer;
    }
    .comment-btn {
        border: 2px solid #ff0581;
        border-radius: 15px;
        padding: 10px;
        color: #ff0581;
        //
        &:hover {
            border: 2px solid #d10068;
            color: #d10068;
        }
    }
    //comments section
    .comments-container {
        @apply rounded-3xl;
        border: 1px solid #d3d3d3;
        background-color: #e6e6e6;
        //
        .comments {
            @apply shadow-lg rounded-3xl;
            padding: 15px;
            background-color: #fff;
            //
        }
    }
}