.singlepost {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  margin-left: auto;
  margin-right: auto;

  .headline {
    width: 100%;
    padding: 0;
    position: relative;
    .img {
      width: 100%;
      height: 400px;
      object-fit: cover;

      @media screen and (max-width: 1024px) {
        margin-bottom: 1rem;
      }
    }
    .post-title {
      padding: 30px;

      h1 {
        font-weight: 800;
        font-size: 20px;
        text-decoration: underline;
      }
    }
  }

  .description {
    margin: auto;
    &::first-letter {
      text-transform: uppercase;
    }
    white-space: pre-wrap;
    padding: 0 2rem;
  }
  .icon {
    color: var(--warm-red);
    font-size: 16px;
    &:outline {
      border: none;
    }
    &:hover {
      color: var(--hover-warm-red);
    }
  }
  .input {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    color: gray;
    margin-bottom: 20px;
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    border: 1px solid #777;
    border-radius: 10px;
    outline: none;
  }
  .icons-LC {
    font-size: 23px;
    cursor: pointer;
  }
  .comment-btn {
    border: 2px solid var(--warm-red);
    border-radius: 15px;
    padding: 10px;
    color: var(--warm-red);
    //
    &:hover {
      border: 2px solid var(--hover-warm-red);
      color: var(--hover-warm-red);
    }
  }

  //comments section
  .comments-container {
    padding: 2.5rem;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    border: 1px solid #d3d3d3;
    background-color: #e6e6e6;

    @media (min-width: 992px) {
      max-width: 70%;
    }

    .numberofcomments {
      text-align: center;
      font-weight: bold;
      letter-spacing: 2px;
    }
    .comments {
      margin-top: 1.25rem;
      padding: 15px;
      background-color: #fff;
    }
  }
}
