.signup {
    @apply shadow-xl;
    padding: 150px 25px 20px 25px;
    margin-right: 30px;
    margin: auto;
    //
    .intro {
        h1 {
            text-transform: capitalize;
            letter-spacing: 2.72px;
        }
    }
    img {
        @apply py-4;
        margin: auto;
    }
    form {
        display: flex;
        flex-direction: column;
        //@at-root
        h1 {
            font-family: "Fira Sans", sans-serif;
            font-size: 20px;
            letter-spacing: 2.72px;
            @apply py-8 capitalize font-bold;
        }
        .inputWrapper {
            width: 100%;
            margin: 10px 0;
            border: 1px solid rgba(211, 211, 211, 0.5);
            border-radius: 20px;
            display: flex;
            padding: 10px;
            .icon {
                color: #ff0581;
                font-size: 20px;
            }
            .input {
                width: 100%;
                margin-left: 10px;
                color: #292929;
                &:focus {
                    outline: none;
                }
            }
        }
        .error {
            color: red;
            margin-bottom: 7px;
        }
        button {
            @apply py-3 capitalize mt-4;
            display: flex;
            width: 50%;
            background-color: #ff0581;
            border-radius: 20px;
            justify-content: center;
            color: #fff;
            //
            &:hover {
                background-color: #d10068;
            }
        }
    }
}