@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --dark-blue: #0a1930;
    --warm-red: #eb0202;
    --footerBG: #161c1c;
}

body {
    font-family: Mulish, sans-serif;
    background-color: #fafafa;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    text-transform: capitalize;
    font-family: "Frank Ruhl Libre", sans-serif;
    color: #161c1c;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

h1 :hover {
    text-decoration: underline;
}

.category {
    color: #eb0202;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

.timestamp {
    margin-top: 15px;
    line-height: 1rem;
}