@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --dark-blue: #0a1930;
    --warm-red: #eb0202;
    --footerBG: #161c1c;
}

body {
    font-family: Mulish, sans-serif;
    background-color: #fafafa;
    font-size: 16px;
    line-height: 24px;
}